@import 'variables';

:host {
  display: block;
  width: 100%;
}

section.section-header-centered {
  margin: $spacing-md auto $spacing-lg auto;
  text-align: center;
  max-width: 700px;
  padding: $spacing-md;
  > p {
    margin: $spacing-xs 0 $spacing-sm 0;
  }
}

section.page-body {
  padding-bottom: $spacing-xl;
}

div.events-section-grid {
  @include max-width-container;
  padding: 0 $spacing-lg;
  display: grid;
  grid-gap: $spacing-md;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
