<h1 class="form-title color-primary">Log In</h1>
<div class="form-wrap">
  <div class="input-wrap" [class.input-wrap-errored]="emailError$ | async">
    <span class="input-label">Email Address</span>
    <input type="email" [(ngModel)]="emailAddress" />
  </div>
  <div class="input-error" *ngIf="emailError$ | async as msg">
    {{ msg }}
  </div>
  <div class="input-wrap" [class.input-wrap-errored]="passwordError$ | async">
    <span class="input-label">Password</span>
    <input type="password" [(ngModel)]="password" />
  </div>
  <div class="input-error" *ngIf="passwordError$ | async as msg">
    {{ msg }}
  </div>
  <la-button
    [text]="'Log In'"
    [isFullWidth]="true"
    [color]="'accent'"
    [clickHandler]="login.bind(this)"
    [isLoading$]="isLoading$"
  ></la-button>
  <div class="font-xsmall color-primary margin-bottom-xs">
    Don't have an account?
  </div>
  <la-button
    [text]="'Sign Up'"
    [isFullWidth]="true"
    [color]="'accent'"
    [look]="'outline'"
    [path]="'/auth/signup'"
  ></la-button>
</div>
