@import 'variables';

:host {
  display: block;
  width: 100%;
}

div.calendar-wrap {
  border-radius: $border-radius;
}

div.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  background-color: #fff;
}

span.calendar-month {
  font-weight: bold;
  margin-right: $spacing-xs;
}

span.calendar-controls {
  display: flex;
  align-items: center;
  > la-icon {
    cursor: pointer;
    padding: 0 $spacing-xs;
    margin-left: $spacing-xs;
  }
}

div.calendar-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5rem;
}

div.calendar-header,
div.calendar-column-header,
div.calendar-day {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

div.calendar-column-header {
  background-color: $primary;
  color: #fff;
  padding: $spacing-xs;
}

div.calendar-day {
  padding: $spacing-xs;
  background-color: #fff;
  &.calendar-day-disabled {
    opacity: 0.45;
  }
}

div.calendar-day-inner {
  padding-bottom: 100%;
}
