<div class="calendar-wrap">
  <div class="calendar-header">
    <h2 class="calendar-header-date-wrap">
      <span class="calendar-month">
        {{ displayedMonth$ | async | getMonthDisplay }}
      </span>
      <span class="calendar-year">
        {{ displayedYear$ | async }}
      </span>
    </h2>
    <span class="calendar-controls">
      <la-icon
        [icon]="'faAngleLeft'"
        [size]="'xlarge'"
        (click)="prevMonth()"
      ></la-icon>
      <la-icon
        [icon]="'faAngleRight'"
        [size]="'xlarge'"
        (click)="nextMonth()"
      ></la-icon>
    </span>
  </div>
  <div class="calendar-grid-container">
    <div
      *ngFor="let day of WEEKDAYS"
      class="calendar-column-header font-small-bold"
    >
      {{ day }}
    </div>
    <div
      *ngFor="let day of calendarDays$ | async"
      class="calendar-day"
      [class.accent-bold]="day.isToday"
      [class.calendar-day-disabled]="
        (displayedMonth$ | async)?.month % 12 !== day.month
      "
    >
      <div class="calendar-day-inner">
        {{ day.date }}
      </div>
    </div>
  </div>
</div>
