@import 'variables';

:host {
  display: block;
  width: 100%;
}

div.calendar-wrap {
  border-radius: $border-radius;
}

div.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  background-color: #fff;
}

span.calendar-month {
  font-weight: bold;
  margin-right: $spacing-xs;
}

span.calendar-controls {
  display: flex;
  align-items: center;
  > la-icon {
    cursor: pointer;
    padding: 0 $spacing-xs;
    margin-left: $spacing-xs;
  }
}

div.calendar-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5rem;
}

div.calendar-header,
div.calendar-column-header,
div.calendar-day {
  @include card;
}

div.calendar-column-header {
  background-color: $primary;
  padding: $spacing-xs;
  color: #fff;
}

div.calendar-day {
  padding: calc(#{$spacing-xs} - 2px);
  transition: $la-transition-long;
  z-index: 100;
  &.calendar-day-disabled {
    opacity: 0.45;
  }
  &.has-events:not(.calendar-day-disabled) {
    cursor: pointer;
    &.selected,
    &:hover {
      box-shadow: $box-shadow-hovered;
      transform: scale(1.05);
      z-index: 101;
    }
  }
}

div.calendar-day-inner {
  position: relative;
  padding-bottom: 100%;
}

span.calendar-day-date {
  position: relative;
}

span.events-indicator {
  position: absolute;
  right: $spacing-xs;
  top: $spacing-xs;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: $accent;
}
