<div class="calendar-wrap">
  <div class="calendar-header">
    <h2 class="calendar-header-date-wrap">
      <span class="calendar-month">
        {{ displayedMonth$ | async | getMonthDisplay }}
      </span>
      <span class="calendar-year">
        {{ displayedYear$ | async }}
      </span>
    </h2>
    <span class="calendar-controls">
      <la-icon
        [icon]="'faAngleLeft'"
        [size]="'xlarge'"
        (click)="prevMonth()"
      ></la-icon>
      <la-icon
        [icon]="'faAngleRight'"
        [size]="'xlarge'"
        (click)="nextMonth()"
      ></la-icon>
    </span>
  </div>
  <div class="calendar-grid-container">
    <div
      *ngFor="let day of WEEKDAYS"
      class="calendar-column-header font-small-bold"
    >
      {{ day }}
    </div>
    <ng-container *ngFor="let day of calendarDays$ | async">
      <ng-container
        *ngTemplateOutlet="
          CalendarDay;
          context: {
            $implicit: day,
            isDisabled:
              (displayedMonth$ | async)?.month < currentMonth ||
              (displayedMonth$ | async | getMonthDisplay: true) !== day.month,
            hasEvents: !!day.events?.length
          }
        "
      ></ng-container>
    </ng-container>
    <ng-template
      #CalendarDay
      let-day
      let-isDisabled="isDisabled"
      let-hasEvents="hasEvents"
    >
      <div
        class="calendar-day"
        [class.has-events]="hasEvents"
        [class.calendar-day-disabled]="isDisabled"
        (click)="hasEvents && dateSelected.emit(day)"
      >
        <div class="calendar-day-inner">
          <span class="calendar-day-date" [class.accent-bold]="day.isToday">
            {{ day.date }}
          </span>
          <ng-container *ngIf="day.events?.length">
            <span class="total-events font-small-bold">
              {{ day.events.length }}
              {{ day.events.length > 1 ? ' Events' : ' Event' }}
            </span>
            <span class="events-indicator"></span>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</div>
