<div class="calendar-page-inner">
  <div class="events-calendar-wrap">
    <div class="calendar-wrap">
      <la-calendar
        [selectedDate$]="selectedDate$"
        (monthChanged)="monthChanged($event)"
      ></la-calendar>
    </div>
    <section class="events-section">
      <la-button
        *ngIf="selectedDate$ | async"
        class="browse-all-btn"
        [text]="'Browse All Events'"
        [look]="'flat'"
        [color]="'accent'"
        [icon]="'faAngleLeft'"
        (click)="setSelectedDate(null)"
      ></la-button>
      <div class="events-wrap">
        <div
          *ngFor="let day of displayedDays$ | async"
          class="events-section-date-wrap"
        >
          <div class="events-section-date-header">
            <span class="event-day">
              {{ day.dateModel | getDateDisplay: 'day' }}
            </span>
            <h3 class="event-date">
              {{ day.dateModel | getDateDisplay: 'month dd, yyyy' }}
            </h3>
          </div>
          <la-event-card
            *ngFor="let event of day.events"
            [event]="event"
            [showRemainingSlots]="true"
            (eventSelected)="eventSelected($event)"
          ></la-event-card>
        </div>
      </div>
    </section>
  </div>
</div>
