<div class="calendar-page-inner">
  <div class="events-calendar-wrap">
    <div class="calendar-wrap">
      <la-calendar
        [activeDay$]="activeDay$"
        [activeMonth$]="activeMonth$"
        (activeMonthChanged)="setActiveMonth($event)"
        (activeDayChanged)="setActiveDay($event)"
      ></la-calendar>
    </div>
    <section class="events-section">
      <la-button
        *ngIf="activeDay$ | async"
        class="browse-all-btn"
        [text]="'Browse All Events'"
        [look]="'flat'"
        [color]="'accent'"
        [icon]="'faAngleLeft'"
        [clickHandler]="setActiveDay.bind(this, null)"
      ></la-button>
      <div class="events-wrap">
        <div
          *ngFor="let day of displayedDays$ | async"
          class="events-section-date-wrap"
        >
          <div class="events-section-date-header">
            <span class="event-day">
              {{ day.dateModel | getDateDisplay: 'day' }}
            </span>
            <h3 class="event-date">
              {{ day.dateModel | getDateDisplay: 'month dd, yyyy' }}
            </h3>
          </div>
          <la-product-card
            *ngFor="let event of day.events"
            [product]="event.product"
            (productSelected)="eventSelected($event)"
            (productButtonSelected)="register($event)"
          ></la-product-card>
        </div>
      </div>
    </section>
  </div>
</div>
