<div class="calendar-page-inner">
  <div class="events-calendar-wrap">
    <div class="calendar-wrap">
      <la-calendar
        [activeDay$]="activeDay$"
        [activeMonth$]="activeMonth$"
        (activeMonthChanged)="setActiveMonth($event)"
        (activeDayChanged)="setActiveDay($event)"
      ></la-calendar>
    </div>
    <section class="events-section">
      <la-button
        *ngIf="
          (activeDay$ | async) ||
          (showLoginOptions$ | async) ||
          (showEventSelector$ | async)
        "
        class="browse-all-btn"
        [text]="'Browse All Events'"
        [look]="'flat'"
        [color]="'accent'"
        [icon]="'faAngleLeft'"
        [clickHandler]="setActiveDay.bind(this, null)"
      ></la-button>
      <div
        *ngIf="!(showLoginOptions$ | async) && !(showEventSelector$ | async)"
        class="events-wrap"
      >
        <div
          *ngFor="let day of displayedDays$ | async"
          class="events-section-date-wrap"
        >
          <div class="events-section-date-header">
            <span class="event-day">
              {{ day.dateModel | getDateDisplay: 'day' }}
            </span>
            <h3 class="event-date">
              {{ day.dateModel | getDateDisplay: 'month dd, yyyy' }}
            </h3>
          </div>
          <la-product-card
            *ngFor="let event of day.events"
            [product]="event.product"
            [buttonText]="'Register'"
            (productSelected)="eventSelected($event)"
            (productButtonSelected)="register(event)"
          ></la-product-card>
        </div>
      </div>
      <div *ngIf="showEventSelector$ | async">hi</div>
      <div *ngIf="showLoginOptions$ | async" class="login-options-wrap">
        <h3>Log In to Register!</h3>
        <div class="font-small color-primary">Have an Account?</div>
        <la-button
          [text]="'Log In'"
          [isFullWidth]="true"
          [color]="'accent'"
          [clickHandler]="goToAuthPage.bind(this, 'login')"
        ></la-button>
        <div class="font-small color-primary">Or Register for an Account</div>
        <la-button
          [text]="'Sign Up'"
          [isFullWidth]="true"
          [color]="'accent'"
          [look]="'outline'"
          [clickHandler]="goToAuthPage.bind(this, 'signup')"
        ></la-button>
      </div>
    </section>
  </div>
</div>
