@import 'variables';

:host {
  display: block;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
}

div.calendar-page-inner {
  @include max-width-container;
}

div.events-calendar-wrap {
  position: relative;
  display: flex;
}

div.calendar-wrap {
  position: sticky;
  flex: 1;
  left: 0;
  right: 0;
  top: 0;
  margin-top: -$header-height;
  max-height: 100vh;
  overflow-y: scroll;
  z-index: 100;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: calc(#{$header-height} + #{$spacing-lg}) $spacing-lg $spacing-lg
    $spacing-lg;
}

section.events-section {
  flex: 0.75;
  padding: $spacing-lg $spacing-lg $spacing-lg 0;
  margin-left: auto;
}

la-button.browse-all-btn {
  margin-bottom: $spacing-xs;
}

div.events-section-date-wrap {
  position: relative;
  &:not(:first-child) {
    margin-top: $spacing-md;
  }
  > la-event-card {
    margin-bottom: $spacing-sm;
  }
}

div.events-section-date-header {
  position: relative;
  margin-bottom: $spacing-xs;
  @include card-padded-xs;
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: rgba($dark, 0.75);
    border-radius: $border-radius;
  }
}

h3.event-date {
  margin-top: -$spacing-xs;
}

div.login-options-wrap {
  > div.font-small {
    margin: $spacing-sm 0 $spacing-xs 0;
  }
}
