@import 'variables';

:host {
  display: block;
  width: 100%;
}

div.landing-inner {
  // @include max-width-container;
  text-align: center;
  padding: 1rem;
}

video.landing-video {
  width: 100%;
}

section.icon-section {
  background-color: $light;
}

div.icon-section-inner {
  text-align: center;
  padding: $spacing-md;
  > la-icon {
    margin: 0 $spacing-sm;
  }
}

section.services-section {
  @include max-width-container;
  padding: $spacing-md 6rem;
}

div.services-section-header {
  margin: 0 auto $spacing-lg auto;
  text-align: center;
  max-width: 700px;
}

div.services-section-grid {
  display: grid;
  grid-gap: $spacing-md;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

section.star-section {
  position: relative;
  margin-top: $spacing-md;
  background-color: $light;
  height: 500px;
}

div.star-section-inner {
  @include max-width-container;
  padding: 6rem;
}

div.star-section-cta {
  position: relative;
  z-index: 200;
  width: 50%;
  > p {
    margin: $spacing-md 0 $spacing-sm 0;
  }
}

div.star-section-img {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  background-image: url(https://res.cloudinary.com/kcsommers/image/upload/v1636310116/LA%20Virtual%20Studios/audition-3.jpg);
  background-size: cover;
  background-position: center;
}

section.classes-section {
  @include max-width-container;
  padding: $spacing-xl 6rem;
}

div.classes-section-header {
  margin-bottom: $spacing-lg;
}

div.classes-section-more-info-wrap {
  text-align: center;
  margin-top: $spacing-md;
}

div.classes-section-grid {
  display: grid;
  grid-gap: $spacing-md;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

section.coaching-section {
  background-color: $light;
}

div.coaching-section-inner {
  @include max-width-container;
  padding: 6rem;
  display: flex;
}

div.coaching-section-left {
  flex: 0.75;
}

div.coaching-section-cta {
  text-align: right;
  margin-left: auto;
  flex: 1;
  > p {
    margin: $spacing-md 0 $spacing-sm 0;
  }
}

div.coaching-section-img-wrap {
  width: 75%;
  > span.coaching-section-img {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
  }
  > span.coach-name {
    display: inline-block;
    margin-top: $spacing-sm;
  }
}

div.coach-wrap {
  text-align: center;
}

div.headshots-section-header {
  position: relative;
  background-color: #fff;
  padding: $spacing-md 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include max-width-container;
}

div.headshots-section-header-right {
  > la-button {
    margin-left: $spacing-xs;
  }
}

div.headshots-section-body {
  display: flex;
  > div,
  > la-carousel {
    flex: 1;
  }
}

span.headshots-section-img {
  width: 100%;
  padding-bottom: 150%;
  background-size: cover;
  background-position: center;
}

section.contact-section {
  padding: 6rem;
  background-color: $light;
}

div.contact-section-inner {
  @include max-width-container;
}

div.contact-section-cta {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  > p {
    margin: $spacing-sm 0;
  }
  > la-button {
    margin-right: $spacing-xs;
  }
}
