<div class="landing-wrap">
  <div class="landing-inner">
    <!-- <video #LandingVideo class="landing-video" controls playsinline>
      <source src="/api/media/videos/intro" type="video/mp4" />
    </video> -->
  </div>
</div>
<section class="icon-section">
  <div class="icon-section-inner">
    <la-icon [icon]="'faFilm'" [outlined]="true"></la-icon>
    <la-icon [icon]="'faVideo'" [outlined]="true"></la-icon>
    <la-icon [icon]="'faCamera'" [outlined]="true"></la-icon>
    <la-icon [icon]="'faStar'" [outlined]="true"></la-icon>
  </div>
</section>
<section class="services-section">
  <div class="services-section-header">
    <h1>Our Services</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum suscipit
      dolorem aliquid quidem fugiat repudiandae deserunt eaque possimus.
    </p>
  </div>
  <div class="services-section-grid">
    <la-product-card
      *ngFor="let product of products$ | async"
      [product]="product"
    ></la-product-card>
  </div>
</section>
<section class="star-section">
  <div class="star-section-inner">
    <div class="star-section-cta">
      <h1>STAR</h1>
      <h3>Self Tape Audition Room</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum suscipit
        dolorem aliquid quidem fugiat repudiandae deserunt eaque possimus quod
        natus ratione architecto, inventore ea, reiciendis autem sit saepe!
        Eveniet, quos
      </p>
      <la-button
        [text]="'Learn More'"
        [look]="'outline'"
        [isResponsive]="true"
      ></la-button>
    </div>
  </div>
  <div class="star-section-img"></div>
</section>
<section class="classes-section">
  <div class="classes-section-header">
    <h1>Virtual and In Person Classes</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit Ipsum suscipit
      dolorem aliquid quidem.
    </p>
  </div>
  <div class="classes-section-grid">
    <la-event-card
      *ngFor="let event of events$ | async"
      [event]="event"
      (eventSelected)="eventSelected($event)"
    ></la-event-card>
  </div>
  <div class="classes-section-more-info-wrap">
    <la-button
      [text]="'View Calendar'"
      [look]="'outline'"
      [isResponsive]="true"
      [path]="'/calendar'"
    ></la-button>
  </div>
</section>
<section class="coaching-section">
  <div class="coaching-section-inner">
    <div class="coaching-section-left">
      <ng-container *ngIf="coaches$ | async as coaches; else Loading">
        <la-carousel [slideDurations]="[3000]">
          <ng-container *ngFor="let coach of coaches">
            <div laCarouselItem class="coach-wrap">
              <div class="coaching-section-img-wrap">
                <span
                  class="coaching-section-img"
                  [ngStyle]="{
                    backgroundImage: 'url(' + coach.profileImage + ')'
                  }"
                ></span>
                <span class="coach-name">{{
                  coach.firstName + ' ' + coach.lastName
                }}</span>
              </div>
            </div>
          </ng-container>
        </la-carousel>
      </ng-container>
    </div>
    <div class="coaching-section-cta">
      <h1>Private Coaching</h1>
      <h3>Get coached by top LA casting directors and coaches</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum suscipit
        dolorem aliquid quidem fugiat repudiandae deserunt eaque possimus quod
        natus ratione architecto, inventore ea, reiciendis autem sit saepe!
        Eveniet, quos
      </p>
      <la-button
        [text]="'Learn More'"
        [look]="'outline'"
        [isResponsive]="true"
      ></la-button>
    </div>
  </div>
</section>
<section class="headshots-section">
  <div class="headshots-section-header">
    <div class="headshots-section-header-left">
      <h1>Professional Headshots</h1>
      <h3>with photographer Greg James</h3>
    </div>
    <div class="headshots-section-header-right">
      <la-button
        [text]="'Galleries'"
        [isResponsive]="true"
        [color]="'accent'"
        [look]="'outline'"
      ></la-button>
      <la-button
        [text]="'Get In Touch'"
        [isResponsive]="true"
        [color]="'accent'"
      ></la-button>
    </div>
    <div class="angle-down-div"></div>
  </div>
  <div class="headshots-section-body">
    <la-carousel [slideDurations]="[3000, 4000, 5000]">
      <ng-container *ngFor="let imgSrc of headshotsGroup1; let i = index">
        <span
          laCarouselItem
          class="headshots-section-img"
          [ngStyle]="{ backgroundImage: 'url(' + imgSrc + ')' }"
        ></span>
      </ng-container>
    </la-carousel>
    <la-carousel [slideDurations]="[3000, 4000, 5000]">
      <ng-container *ngFor="let imgSrc of headshotsGroup2">
        <span
          laCarouselItem
          class="headshots-section-img"
          [ngStyle]="{ backgroundImage: 'url(' + imgSrc + ')' }"
        ></span>
      </ng-container>
    </la-carousel>
    <la-carousel [slideDurations]="[3000, 4000, 5000]">
      <ng-container *ngFor="let imgSrc of headshotsGroup3">
        <span
          laCarouselItem
          class="headshots-section-img"
          [ngStyle]="{ backgroundImage: 'url(' + imgSrc + ')' }"
        ></span>
      </ng-container>
    </la-carousel>
  </div>
</section>
<section class="contact-section">
  <div class="contact-section-inner">
    <div class="contact-section-cta">
      <h2>Get in Touch!</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum suscipit
        dolorem aliquid quidem fugiat repudiandae deserunt eaque possimus.
      </p>
      <la-button
        [text]="'Get in Touch'"
        [isResponsive]="true"
        [look]="'outline'"
      ></la-button>
      <la-button
        [text]="'View Calendar'"
        [isResponsive]="true"
        [path]="'/calendar'"
      ></la-button>
    </div>
  </div>
</section>
<ng-template #Loading></ng-template>
