<video
  class="landing-video"
  src="https://rr1---sn-nx5s7n76.c.drive.google.com/videoplayback?expire=1636091359&ei=n42EYYO_FeDT-LYP0-mdmAQ&ip=2601:602:8e00:1c80::8018&cp=QVRIWEFfUFNTSlhPOjlnWEJQUUJqWHJzbTJOY2hVek5WZlV1OUYyanlLY2VqYTN2dUtoOV8zbjE&id=a1882fa90b4f9168&itag=37&source=webdrive&requiressl=yes&mh=ZF&mm=32&mn=sn-nx5s7n76&ms=su&mv=m&mvi=1&pl=36&ttl=transient&susc=dr&driveid=1O7PONUmaoZH9vm1pKU2rzBXI1I0ao-mH&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=134.164&lmt=1635045110086935&mt=1636076653&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRQIhAIDqiVZwqFmMzzNBQa3_GdeZsCPx2x7HrJ4h--JtZzTVAiBLn84pWhLP3GvoZ8SAmxNIoKAleDVcLZvuhhMcGs0rKA==&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRgIhAPQYFiC0FXM1xtetrXvXr0cl5jB153PWW4CemP2ySINpAiEAjlVyH4e4sz-QGqKcEQEdxF2IVm7pyKI85j6KSe0cMYg=&cpn=jX2eqjACiEdFIBO2&c=WEB_EMBEDDED_PLAYER&cver=1.20211031.00.00"
  controls
></video>
