@import "variables";

:host {
  display: block;
  cursor: pointer;
  background-color: $blue;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  color: #fff;
}

div.info-card-img {
  height: 200px;
  background-size: cover;
}

div.info-card-body {
  text-align: center;
  padding: $spacing-md;
}
