<div class="event-card-img-wrap">
  <div
    class="event-card-img"
    [ngStyle]="{ backgroundImage: 'url(' + event?.coverImage + ')' }"
  ></div>
</div>
<div class="event-card-body" (click)="eventSelected.emit(event)">
  <span class="event-name">{{ event?.name }}</span>
  <p class="product-blurb">{{ event?.blurb }}</p>
  <p *ngIf="showRemainingSlots" class="remaining-slots color-primary">
    {{ event | getRemainingSlotsDisplay }}
  </p>
  <la-button
    [text]="'More Info'"
    [look]="'flat'"
    [color]="'accent'"
  ></la-button>
</div>
