@import 'variables';

:host {
  cursor: pointer;
  background-color: #fff;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  width: 100%;
}

div.event-card-img-wrap {
  flex: 0.65;
}

div.event-card-img {
  flex: 1;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

div.event-card-body {
  flex: 1;
  padding: $spacing-sm;
  background-color: #fff;
}

span.event-name {
  font-weight: bold;
}

p.product-blurb {
  font-size: $fontsize-sm;
  margin: $spacing-sm 0 $spacing-xs 0;
}
