@import "variables";

:host {
  display: inline-block;
}

button.la-btn {
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: $border-radius;
  border: none;
  display: inline-block;
  transition: all 0.2s ease;
  max-width: 100%;
  font-size: $fontsize-sm;
  padding: 0;

  &.btn-primary {
    &:not(.btn-flat) {
      background-color: $primary;
      color: #fff;
    }
    &.btn-flat {
      color: $primary;
    }
  }

  &.btn-accent {
    &:not(.btn-flat) {
      background-color: $accent;
      color: #fff;
    }
    &.btn-flat {
      color: $accent;
    }
  }

  &:not(.btn-flat) {
    padding: $spacing-sm $spacing-md;
    color: #fff;
    box-shadow: $box-shadow;
  }

  &.full-width-btn {
    width: 100%;
  }

  &:hover,
  &:focus {
    &:not(.btn-flat) {
      background-color: $dark-blue;
    }
  }
}
