@import "variables";

:host {
  display: inline-block;
  &.full-width-btn {
    width: 100%;
    min-width: 175px;
  }

  &.responsive-btn {
    width: 33.33%;
    min-width: 175px;
  }
}

button.la-btn {
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: $border-radius;
  border: none;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  width: 100%;
  max-width: 100%;
  font-size: $fontsize-sm;
  height: 35px;
  padding: 0 $spacing-md;
  color: #fff;
  box-shadow: $box-shadow;

  &.btn-primary {
    background-color: $primary;
    color: #fff;
    &.btn-flat,
    &.btn-outline {
      color: $primary;
    }
    &.btn-outline {
      border: 2px solid $primary;
    }
  }

  &.btn-accent {
    background-color: $accent;
    color: #fff;
    &.btn-flat,
    &.btn-outline {
      color: $accent;
    }
    &.btn-outline {
      border: 2px solid $accent;
    }
  }

  &.btn-flat {
    padding: 0;
    box-shadow: none;
    font-weight: bold;
  }

  &.btn-flat,
  &.btn-outline {
    background-color: rgba(0, 0, 0, 0);
  }
}
