@import "variables";

:host {
  display: block;
}

video.landing-video {
  width: 100%;
}

div.icon-section-inner {
  text-align: center;
  padding: $spacing-md;
  > la-icon {
    margin: 0 $spacing-md;
  }
}

section.classes-section {
  @include max-width-container;
  padding: $spacing-md 6rem;
}

div.classes-section-header {
  margin-bottom: $spacing-lg;
}

div.classes-section-more-info-wrap {
  text-align: center;
  margin-top: $spacing-md;
}

div.classes-section-grid {
  display: grid;
  grid-gap: $spacing-md;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

section.star-section {
  position: relative;
  margin-top: $spacing-md;
  background-color: $light;
  height: 500px;
}

div.star-section-inner {
  @include max-width-container;
  padding: 6rem;
}

div.star-section-cta {
  position: relative;
  z-index: 200;
  width: 50%;
  > p {
    margin: $spacing-md 0 $spacing-sm 0;
  }
}

div.star-section-img {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  background-image: url(https://res.cloudinary.com/kcsommers/image/upload/v1636310116/LA%20Virtual%20Studios/audition-3.jpg);
  background-size: cover;
  background-position: center;
}

div.headshots-section-header {
  padding: $spacing-md 6rem;
  @include max-width-container;
}

div.headshots-action-btns-wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: $primary;
  position: relative;
}

div.headshots-section-body {
  display: flex;
}

div.headshots-section-img {
  flex: 1;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  &:nth-child(1) {
    background-image: url(https://res.cloudinary.com/kcsommers/image/upload/v1636310116/LA%20Virtual%20Studios/headshot-1.jpg);
  }
  &:nth-child(2) {
    background-image: url(https://res.cloudinary.com/kcsommers/image/upload/v1636310116/LA%20Virtual%20Studios/headshot-2.jpg);
  }
  &:nth-child(3) {
    background-image: url(https://res.cloudinary.com/kcsommers/image/upload/v1636310116/LA%20Virtual%20Studios/headshot-3.jpg);
  }
}
