@import "variables";

:host {
  display: block;
}

video.landing-video {
  width: 100%;
}

div.icon-section-inner {
  text-align: center;
  padding: $spacing-lg;
  > la-icon {
    margin: 0 $spacing-lg;
  }
}

section.classes-section {
  padding: 3rem 6rem;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #2d5a87 0%, #e0c3fc 100%);
}

div.classes-section-inner {
  display: flex;
}

div.classes-section-left {
  flex: 0.75;
  padding-right: $spacing-xl;

  > p {
    margin: $spacing-md 0 $spacing-lg 0;
  }
}

div.classes-section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  > la-info-card {
    margin-bottom: $spacing-lg;
  }
}

section.star-section {
  padding: 6rem;
  background-image: url(https://res.cloudinary.com/kcsommers/image/upload/v1636245088/LA%20Virtual%20Studios/audition-2.jpg);
  background-size: cover;
  background-position: center;
}

div.star-section-inner {
  color: #fff;
  > p {
    margin: $spacing-md 0 $spacing-lg 0;
    max-width: 550px;
  }
}
