@import 'variables';

:host {
  display: block;
  width: 100%;
}

div.event-times-wrap {
}

div.event-time-wrap {
  @include card;
  padding: $spacing-xs $spacing-sm;
  margin: $spacing-sm 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
