@import 'variables';

:host {
  display: block;
  width: 100%;
  padding: $spacing-lg 0;
}

div.events-page-inner {
  @include card;
  @include max-width-container;
  min-height: $min-body-height;
  width: 1080px;
  max-width: 100%;
}

div.event-header-top {
  height: 350px;
  display: flex;
}

div.event-image-bg {
  flex: 1;
  background-position: center;
  background-size: cover;
  border-top-left-radius: $border-radius;
}

div.event-intro-wrap {
  flex: 0.65;
  background-color: $light;
  border-top-right-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.event-intro-top,
div.event-intro-bottom {
  padding: $spacing-md;
}

div.event-header-sticky {
  position: sticky;
  top: 0px;
  background-color: #fff;
  box-shadow: $box-shadow-bottom;
}

div.event-header-sticky-left {
  flex: 1;
}

div.event-header-sticky-right {
  width: 33.333%;
  margin-left: auto;
  flex: 0.65;
}

div.event-header-sticky-right-inner {
  padding: $spacing-sm $spacing-md;
}

div.event-body-inner {
  display: flex;
}

div.event-body-left {
  flex: 1;
}

div.event-body-left-inner {
  padding: $spacing-lg;
}

div.event-body-right {
  flex: 0.65;
}

div.event-body-right-inner {
  padding: $spacing-lg;
}

p.event-description {
  margin-top: $spacing-md;
  white-space: pre-wrap;
}

div.location-name-wrap {
  margin: $spacing-sm 0 $spacing-xs 0;
}

div.instructor-details-wrap {
  margin-top: $spacing-md;
}

p.instructor-details-title {
  margin-bottom: $spacing-sm;
}

h3.instructor-name {
  margin: $spacing-sm 0 $spacing-xs 0;
}

span.instructor-img-wrap {
  width: 33.333%;
}

span.instructor-img-bg {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}
