<div class="events-page-inner">
  <div *ngIf="event$ | async as event; else Loading" class="event-wrap">
    <section class="event-header">
      <div class="event-header-top">
        <div
          class="event-image-bg"
          [ngStyle]="{ backgroundImage: 'url(' + event.coverImage + ')' }"
        ></div>
        <div class="event-intro-wrap">
          <div class="event-intro-top">
            <!-- <p>{{ event.date | getDateDisplay: 'day' }}</p>
            <h4>{{ event.date | getDateDisplay: 'month dd, yyyy' }}</h4> -->
            <h2>{{ event.name }}</h2>
            <!-- <span class="font-small-bold color-accent">
              {{ event | getRemainingSlotsDisplay }}
            </span> -->
          </div>
          <div class="event-intro-bottom font-small-bold color-primary">
            <span class="event-price">{{ event.price | getPriceDisplay }}</span>
          </div>
        </div>
      </div>
    </section>
    <div class="event-header-sticky">
      <div class="event-header-sticky-left"></div>
      <div class="event-header-sticky-right">
        <div class="event-header-sticky-right-inner">
          <la-button
            [color]="'accent'"
            [text]="'Register'"
            [isFullWidth]="true"
          ></la-button>
        </div>
      </div>
    </div>
    <section class="event-body">
      <div class="event-body-inner">
        <div class="event-body-left">
          <div class="event-body-left-inner">
            <p class="font-large">About this event</p>
            <h1>{{ event.name }}</h1>
            <p class="event-description">
              {{ event.description }}
            </p>
            <!-- <div class="instructor-details-wrap">
              <p class="instructor-details-title font-large">
                About the instructor
              </p>
              <ng-container *ngFor="let coach of event.coaches">
                <span class="instructor-img-wrap">
                  <span
                    class="instructor-img-bg"
                    [ngStyle]="{
                      backgroundImage: 'url(' + coach.profileImage + ')'
                    }"
                  ></span>
                </span>
                <h3 class="instructor-name">
                  {{ coach.firstName + ' ' + coach.lastName }}
                </h3>
                <p>{{ coach.bio }}</p>
              </ng-container>
            </div> -->
          </div>
        </div>
        <div class="event-body-right">
          <!-- <div class="event-body-right-inner">
            <span class="color-primary">Location</span>
            <div class="location-name-wrap">
              <h4>{{ event.location.name }}</h4>
              <p *ngIf="event.location.address.unit" class="color-primary">
                {{ event.location.address.unit }}
              </p>
            </div>
            <p>{{ event.location.address.street }}</p>
            <p>
              {{ event.location.address.city }}
              &nbsp;{{ event.location.address.state }},
              {{ event.location.address.zip }}
            </p>
          </div> -->
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #Loading></ng-template>
