@import 'variables';

:host {
  display: block;
  width: 100%;
  padding: $spacing-lg 0;
  position: relative;
}

div.events-page-inner {
  @include card;
  @include max-width-container;
  min-height: $min-body-height;
  width: 1080px;
  max-width: 100%;
}

div.event-header-top {
  height: 350px;
  display: flex;
}

div.event-image-bg {
  flex: 1;
  background-position: center;
  background-size: cover;
  border-top-left-radius: $border-radius;
}

div.event-intro-wrap {
  flex: 0.65;
  background-color: $light;
  border-top-right-radius: $border-radius;
}

div.event-intro-inner {
  padding: $spacing-lg;
}

div.event-header-bottom {
  display: flex;
  position: sticky;
  top: 0;
}

div.event-header-bottom-left {
  flex: 1;
}

div.event-header-bottom-right {
  width: 33.333%;
  margin-left: auto;
  flex: 0.65;
}

div.event-header-bottom-right-inner {
  padding: $spacing-sm $spacing-md;
}

div.event-body-inner {
  display: flex;
}

div.event-body-left {
  flex: 1;
}

div.event-body-left-inner {
  padding: $spacing-lg;
}

div.event-body-right {
  flex: 0.65;
}

div.event-body-right-inner {
  padding: $spacing-lg;
}

p.event-description {
  margin-top: $spacing-md;
}

div.location-name-wrap {
  margin: $spacing-sm 0 $spacing-xs 0;
}
