<div class="events-page-inner">
  <div *ngIf="event$ | async as event; else Loading" class="event-wrap">
    <section class="event-header">
      <div class="event-header-top">
        <div
          class="event-image-bg"
          [ngStyle]="{ backgroundImage: 'url(' + event.coverImage + ')' }"
        ></div>
        <div class="event-intro-wrap">
          <div class="event-intro-inner">
            <h2>{{ event.name }}</h2>
          </div>
        </div>
      </div>
      <div class="event-header-bottom">
        <div class="event-header-bottom-left"></div>
        <div class="event-header-bottom-right">
          <div class="event-header-bottom-right-inner">
            <la-button
              [color]="'accent'"
              [text]="'Register'"
              [isFullWidth]="true"
            ></la-button>
          </div>
        </div>
      </div>
    </section>
    <section class="event-body">
      <div class="event-body-inner">
        <div class="event-body-left">
          <div class="event-body-left-inner">
            <h4>About this event</h4>
            <h1>{{ event.name }}</h1>
            <p class="event-description">
              {{ event.description || 'asdfasdf' }}
            </p>
          </div>
        </div>
        <div class="event-body-right">
          <div class="event-body-right-inner">
            <span class="color-primary">Location</span>
            <div class="location-name-wrap">
              <h4>{{ event.location.name }}</h4>
              <p *ngIf="event.location.address.unit" class="color-primary">
                {{ event.location.address.unit }}
              </p>
            </div>
            <p>{{ event.location.address.street }}</p>
            <p>
              {{ event.location.address.city }}
              &nbsp;{{ event.location.address.state }},
              {{ event.location.address.zip }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #Loading></ng-template>
