@import 'variables';

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  @include card;
}

div.product-card-img-wrap {
  flex: 0.65;
}

div.product-card-img {
  flex: 1;
  height: 0;
  padding-bottom: 75%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

div.product-card-body {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span.product-name {
  width: 100%;
  font-size: $fontsize-lg;
  position: relative;
  font-weight: bold;
}

p.product-blurb {
  font-size: $fontsize-sm;
  margin: $spacing-sm 0 $spacing-xs 0;
}

span.product-price {
  font-weight: bold;
}

div.product-card-body-top {
  position: relative;
  padding: $spacing-sm;
  background: linear-gradient(315deg, $light 40%, #fff);
  flex: 1;
  > div.product-card-body-overlay {
    background: linear-gradient(315deg, darken($light, 10%) 40%, #fff);
    transition: $la-transition;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  > div.product-card-body-top-inner {
    position: relative;
    z-index: 101;
  }
  &:hover {
    > div.product-card-body-overlay {
      opacity: 1;
    }
  }
}

div.product-card-body-bottom {
  background-color: #fff;
  padding: $spacing-sm;
}

div.product-body-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
