<div class="product-card-img-wrap">
  <div
    class="product-card-img"
    [ngStyle]="{ backgroundImage: 'url(' + product.coverImage + ')' }"
  ></div>
</div>
<div
  class="product-card-body"
  [routerLink]="product.route ? [product.route] : []"
  (click)="handleProductSelected()"
>
  <div class="product-card-body-top">
    <div class="product-card-body-overlay"></div>
    <div class="product-card-body-top-inner">
      <span class="product-name">{{ product.name }}</span>
      <p class="product-blurb">{{ product.blurb }}</p>
      <span class="product-price">{{ product.price | getPriceDisplay }}</span>
    </div>
  </div>
  <div class="product-card-body-bottom">
    <la-button
      [text]="buttonText"
      [look]="'outline'"
      [color]="'accent'"
      [isFullWidth]="true"
      [clickHandler]="handleButtonClick.bind(this)"
    ></la-button>
  </div>
</div>
