@import 'variables';

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
  @include card;
}

div.product-card-img-wrap {
  flex: 0.65;
}

div.product-card-img {
  flex: 1;
  height: 0;
  padding-bottom: 75%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

div.product-card-body {
  flex: 1;
  padding: $spacing-sm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span.product-name {
  width: 100%;
  font-size: $fontsize-lg;
  position: relative;
  font-weight: bold;
}

p.product-blurb {
  font-size: $fontsize-sm;
  margin: $spacing-sm 0 $spacing-xs 0;
}

span.product-price {
  font-weight: bold;
}

div.product-card-body-bottom {
  margin-top: $spacing-sm;
}
