<div class="product-card-img-wrap">
  <div
    class="product-card-img"
    [ngStyle]="{ backgroundImage: 'url(' + product.coverImage + ')' }"
  ></div>
</div>
<div
  class="product-card-body"
  [routerLink]="product.route ? [product.route] : []"
>
  <div class="product-card-body-top">
    <span class="product-name">{{ product.name }}</span>
    <p class="product-blurb">{{ product.blurb }}</p>
    <span class="product-price">{{ product.price | getPriceDisplay }}</span>
  </div>
  <div class="product-card-body-bottom">
    <la-button
      [text]="'Book Now'"
      [look]="'outline'"
      [color]="'accent'"
      [isFullWidth]="true"
      [clickHandler]="bookNow.bind(this)"
    ></la-button>
  </div>
</div>
