@import "./spacing.scss";

$border-radius: 3px;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

div.section-header {
  text-align: center;
  padding: $spacing-xl;
  > h2 {
    margin-bottom: $spacing-md;
  }
}

div.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: auto;
  justify-content: center;
  column-gap: $spacing-xl;
}
