@import "./spacing.scss";

div.section-header {
  text-align: center;
  padding: $spacing-xl;
  > h2 {
    margin-bottom: $spacing-md;
  }
}

div.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: auto;
  justify-content: center;
  column-gap: $spacing-xl;
}
