@import "reset.scss";
@import "variables";

* {
  font-family: $font-main;
  box-sizing: border-box;
  font-size: $fontsize-md;
}

h2 {
  @include h2-styles;
}

h3 {
  @include h3-styles;
}

p {
  @include p-styles;
}

div.classes-grid {
  margin-top: $spacing-lg;
}
