@import 'reset.scss';
@import 'variables';

* {
  font-family: $font-main;
  box-sizing: border-box;
  font-size: $fontsize-md;
}

h1 {
  @include h1-styles;
}

h2 {
  @include h2-styles;
}

h3 {
  @include h3-styles;
}

h4 {
  @include h4-styles;
}

p,
div,
span {
  @include p-styles;
}

span {
  display: inline-block;
  color: inherit;
}

div.classes-grid {
  margin-top: $spacing-lg;
}

div.angle-down-div {
  width: 80px;
  height: 80px;
  background-color: inherit;
  transform: rotate(45deg) translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -40px;
  z-index: 100;
}

*.color-primary {
  color: $primary;
}

*.color-accent {
  color: $accent;
}

*.primary-bold {
  color: $primary;
  font-weight: bold;
}

*.accent-bold {
  color: $accent;
  font-weight: bold;
}

*.font-xl {
  font-size: $fontsize-xl;
}

*.font-xl-bold {
  font-size: $fontsize-xl;
  font-weight: bold;
}

*.font-large {
  font-size: $fontsize-lg;
}

*.font-large-bold {
  font-size: $fontsize-lg;
  font-weight: bold;
}

*.font-small {
  font-size: $fontsize-sm;
}

*.font-small-bold {
  font-size: $fontsize-sm;
  font-weight: bold;
}

*.font-xsmall {
  font-size: $fontsize-xs;
}

*.font-xsmall-bold {
  font-size: $fontsize-xs;
  font-weight: bold;
}

input,
textarea {
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  &:focus {
    border: none;
  }
}

*.form-wrap {
  la-button {
    margin-bottom: $spacing-xs;
  }
}

*.form-title {
  margin-bottom: $spacing-md;
}

*.input-wrap {
  @include card;
  padding: $spacing-xs;
  border-radius: $border-radius;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-sm;
  &:focus-within {
    box-shadow: $box-shadow-hovered;
  }
}

span.input-label {
  font-size: $fontsize-xs;
}

*.centered-text {
  text-align: center;
}
