$fontsize-xl: 2rem;
$fontsize-lg: 1.25rem;
$fontsize-md: 1rem;
$fontsize-sm: 0.85rem;
$fontsize-xs: 0.275rem;

$font-main: "Open Sans";

@mixin h2-styles {
  font-size: $fontsize-xl;
  line-height: 160%;
}

@mixin h3-styles {
  font-size: $fontsize-lg;
  font-weight: bold;
  line-height: 150%;
}

@mixin p-styles {
  line-height: 140%;
}
