@import './colors.scss';
@import './containers.scss';
@import './spacing.scss';
@import './typography.scss';

$header-height: 120px;
$footer-height: 200px;
$header-footer-height: $header-height + $footer-height;
$la-transition: all 0.2s ease;
$la-transition-long: all 1s cubic-bezier(0, 1.1, 0.76, 1.09);
